/*** IMPORT USED FONTS ***/
/* Raleway */
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
/* Euclid */
@import url('/Euclid/stylesheet.css');

/*** Basic reset ***/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*** Customs Properties ***/
:root {
  --darkBackground: #272522;
}

/*** Global Style ***/
html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: 'Raleway', sans-serif;
  font-family: 'EuclidCircularB', sans-serif;
}

/*** HERO ***/
#hero {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#hero::after {
  width: 100%;
  height: 100%;
  content: '';
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, .1);
}

#hero video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  object-fit: cover;
}

/*** NAVBAR ***/
.navbar {
  z-index: 50;
  top: 0;
  left: 0;
  right: 0;
  font-size: 1.5vh;
  background-color: #000;
  /* background: linear-gradient(to bottom, 0% #000, transparent 100%); */
}

.navbar-toggler {
  margin-right: 2rem;
}

.navbar-collapse {
  margin: 2rem;
}

.blason {
  margin-left: 2rem;
  width: 2.5rem;
}

.nav-link {
  font-size: 1rem;
  position: relative;
}

.nav-link:before {
	content: "";
	position: absolute;
	width: 0;
	height: 3px;
	bottom: -5px;
	left: 0;
	background-color: #fff;
	visibility: hidden;
	transition: all 0.4s ease-in-out;
  opacity: .7;
}
 
.nav-link:hover:before {
	visibility: visible;
	width: 100%;
  opacity: .2;
}

/*** TITRE ***/
.caption {
  position: relative;
  z-index: 20;
  color: #FFF;
  text-align: center;
}

.caption-title {
  text-transform: uppercase;
  font-size: 2.8rem;
  font-family: 'Oswald', sans-serif;
  letter-spacing: .3rem;
  text-shadow: black 1px 2px;
  padding: 2rem;
}

.caption-text {
  font-family: 'Oswald', sans-serif;
  letter-spacing: .2rem;
  font-size: 1rem;
}

/*** FLECHE */
/* .arrow {
  position: absolute;
  bottom: 4rem;
  z-index: 50;
}

.arrow img {
  height: 1.5rem;
} */

/*** OLD SECTION ***/
.gradient {
  background: linear-gradient(to bottom, #000,#FFF);
  height: 130vh;
}

.texture {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 15;
  background-image: url(images/97517869_l.jpg);
  opacity: .1;
  object-fit: contain;
}

#old-section {
  /* height: 100vh; */
  font-size: 1.1rem;
  position: relative;
  /* background: linear-gradient(to bottom, #000,#FFF); */
  /* height: 300vh; */
}

.old-container {
  color: #FFF;
  font-family: 'Euclid Circular B', 'sans serif';
  /* height: 100vh; */
}

.old-devise h2 {
  padding: 0 2rem 0;
}

.old-text {
  font-family: 'Raleway';
  padding: 0 2rem;
}

.old-text p {
  padding: 1rem;
  font-size: 1rem;
}

.old-img {
  width: 80%;
  height: auto;
  object-fit: contain;
}

.old-second,
.nature-second {
  margin-top: 1rem;
  padding: 1rem 3rem;
}

/*** NATURE SECTION ***/
#nature-section {
  position: relative;
  padding-top: 5rem;
}

.nature-container {
  color: rgb(22, 61, 24);
  font-family: 'Euclid Circular B', 'sans serif';
}

.nature-img {
  width: 80%;
  height: auto;
  object-fit: contain;
}

/**************** Media queries ************/
/* GRAND ÉCRAN */
@media screen and (min-width: 1024px) {
  .caption-title {
    font-size: 4.5rem;
  }

  .caption-text {
    font-size: 1.5rem;
  }

  .old-second {
    margin-top: 8rem;
  }

  .old-second-text {
    padding: 0 2rem;
  }

  .old-text p {
    font-size: 1.5rem;
  }

  .old-devise h2,
  .nature-devise h2 {
    font-size: 2.6vw;
  }
}

@media screen and (min-width: 768px) {
  .old-second {
    margin-top: 2rem;
  }
  
  .old-text p {
    font-size: 1.2rem;
  }
}