/* Import Fonts used */
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

/* Basic reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Customs Properties */
:root {
  --darkcolor: #2d2cdc;
}

/* Global Style */
html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: 'Raleway', sans-serif;
}

/* HERO */
#hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  position: relative;
}

#hero::after {
  width: 100%;
  height: 100%;
  content: '';
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, .3);
}

#hero video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  object-fit: cover;
}

/* NAVBAR */
.navbar {
  z-index: 50;
  top: 0;
  left: 0;
  right: 0;
  font-size: 1.5vh;
  margin-top: 1rem;
}

.navbar-toggler {
  margin-right: 2rem;
}

.navbar-collapse {
  margin: 2rem;
}

.blason {
  margin-left: 2rem;
  width: 2rem;
}

.nav-link {
  font-size: 1rem;
}

/* CAPTION */
.caption {
  position: relative;
  z-index: 20;
  text-align: center;
  color: #FFF;
}

.caption-title {
  text-transform: uppercase;
  font-size: 2.5rem;
  font-family: 'Oswald', sans-serif;
  letter-spacing: .3rem;
  text-shadow: black 1px 2px;
  padding: 2rem;
}

.caption-text {
  font-family: 'Oswald', sans-serif;
  letter-spacing: .2rem;
  font-size: 1rem;
}

/* Arrow */
.arrow {
  position: absolute;
  bottom: 1rem;
  z-index: 50;
}

.arrow img {
  height: 2rem;
}

.top-container {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-image: url(clearing.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 20;
}

.card-left {
  position: absolute;
  width: 50%;
  height: 70%;
  left: 0;
  top: 200px;
}

.card-left-article {
  color: rgb(0, 0, 0);
}

.transparent {
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* Media queries */